textarea {
  height: 150px; }

.form-control {
  margin-bottom: 15px; }

.register-image-logo {
  text-align: right;
  height: 100px;
  float: left;
  margin-right: 10px; }

.clear {
  clear: both; }

.hidden {
  display: none !important; }

.mleft {
  margin-left: auto; }

.mtop {
  margin-top: auto; }

.pftr {
  position: fixed;
  right: 0;
  top: 0; }

.btn-border-white {
  border-width: 1px;
  border-color: #ffffff !important; }

.btn {
  cursor: pointer; }

.flex {
  display: flex; }

.flex-right {
  margin-left: auto; }

.clickable {
  cursor: pointer; }

#ban-list .card-block {
  padding: 0; }

.card-header[aria-expanded=true] .fa-caret-down {
  display: inline; }

.card-header[aria-expanded=true] .fa-caret-right {
  display: none; }

.card-header[aria-expanded=false] .fa-caret-down {
  display: none; }

.card-header[aria-expanded=false] .fa-caret-right {
  display: inline; }

table.collapse.show {
  display: table; }

table.show-bans {
  margin-bottom: 0; }
  table.show-bans td:first-child {
    width: 150px;
    font-weight: bold; }
