textarea {
  height: 150px; }

.form-control {
  margin-bottom: 15px; }

.register-image-logo {
  text-align: right;
  height: 100px;
  float: left;
  margin-right: 10px; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.mleft {
  margin-left: auto; }

.mtop {
  margin-top: auto; }

.pftr {
  position: fixed;
  right: 0;
  top: 0; }

.btn-border-white {
  border-width: 1px;
  border-color: #ffffff !important; }

.btn {
  cursor: pointer; }

.flex {
  display: flex; }
